:root {
  --sl-color-accent-low: #d8e7f7;
  --sl-color-accent: #1d62a7;
  --sl-color-accent-high: #0a355f;
}

:root[data-theme='dark'] {
  --sl-color-accent-low: #0b345a;
  --sl-color-accent: #65b3ff;
  --sl-color-accent-high: #dceeff;
}
